.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #302c2c;
  }
  
  .dog-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  }